@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #5463FF;
    --white-background: #EEEEEE;
    --orange: #FE6701;
    --black: #292C3D;
    --red: #DF2E38;
}

body {
    font-family: 'Nunito-Sans', sans-serif;
    color: var(--black);
    background-color: var(--white-background);
}

/*********** Colors *************/
.bg-white {
    background-color: var(--white-background);
}

.font-white {
    color: var(--white-background);
}

.bg-blue {
    background-color: var(--blue);
}

.font-blue {
    color: var(--blue);
}

.bg-orange {
    background-color: var(--orange);
}

.font-orange {
    color: var(--orange);
}

.bg-red {
    background-color: var(--red);
}

.font-red {
    color: var(--red);
}

.invalid-mssg {
    background-color: var(--red);
    padding: 1rem;
    border-radius: 5px;
}

/* Shadow */
.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*********** SIDEBAR ************/
.sidebar {
    width: 320px; 
    height: 100vh;
    background-color: var(--blue);
}

.sidebar .nav-item {
    font-size: 1.25rem;
}

.sidebar .nav-link {
    padding: 1rem 1.25rem;
    color: #ffffff;
}

.sidebar .nav-link:hover {
    background-color: #ffffff;
    color: var(--blue);
}

/*********** CONTENT ************/
.content {
    height: 100vh;
}